.u-block-b2fb-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-b2fb-3 {
  position: absolute;
  left: 0;
}

.u-block-b2fb-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/76decb77-9b02-47dc-ad01-2cc5cd4122ad.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 589px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 486px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 221px;
  }
}

 .u-section-1-2 {
  background-image: url("images/cc65471f-b8fd-408a-a36f-b8827954ccad.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 589px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 279px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 176px;
  }
}

 .u-section-1-3 {
  background-image: url("images/6ea459b4-4948-4600-bd2e-b51c09461c6d.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 589px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 279px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 176px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 516px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 132px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  line-height: 39.6px;
  text-transform: none;
  font-weight: 700;
  margin: 9px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 364px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-video-1 {
  margin-left: auto;
  margin-right: -20px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 496px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-2 .u-text-2 {
  margin: 9px 29px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 109px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 345px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-video-1 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 409px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 250px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 727px;
}

.u-section-3 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 706px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 383px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  height: 313px;
  width: 313px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 383px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin: 0 auto 0 20px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 716px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin: 0 auto 0 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-7 {
  padding: 4px 0;
}

.u-section-3 .u-image-2 {
  height: 262px;
  width: 305px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px;
}

.u-section-3 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-10 {
  padding: 20px;
}

.u-section-3 .embed-responsive-4 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 716px;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-3 .u-layout-wrap-5 {
  margin: 0 auto 0 30px;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-12 {
  padding: 4px 0;
}

.u-section-3 .u-image-3 {
  height: 262px;
  width: 305px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-11 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-14 {
  padding: 20px;
}

.u-section-3 .embed-responsive-5 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-layout-cell-12 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-15 {
  padding: 20px;
}

.u-section-3 .embed-responsive-6 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 716px;
}

.u-section-3 .u-container-layout-16 {
  padding: 30px 0;
}

.u-section-3 .u-layout-wrap-7 {
  margin: 0 auto 0 30px;
}

.u-section-3 .u-layout-cell-13 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-17 {
  padding: 12px 0;
}

.u-section-3 .u-image-4 {
  height: 254px;
  width: 315px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-14 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-18 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-15 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-19 {
  padding: 20px;
}

.u-section-3 .embed-responsive-7 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-layout-cell-16 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-20 {
  padding: 20px;
}

.u-section-3 .embed-responsive-8 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 726px;
}

.u-section-3 .u-container-layout-21 {
  padding: 30px 0;
}

.u-section-3 .u-layout-wrap-9 {
  margin: 0 auto 0 30px;
}

.u-section-3 .u-layout-cell-17 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-22 {
  padding: 4px 0;
}

.u-section-3 .u-image-5 {
  height: 262px;
  width: 305px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-18 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-23 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-19 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-24 {
  padding: 20px;
}

.u-section-3 .embed-responsive-9 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-layout-cell-20 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-25 {
  padding: 20px;
}

.u-section-3 .embed-responsive-10 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 716px;
}

.u-section-3 .u-container-layout-26 {
  padding: 30px 1px;
}

.u-section-3 .u-layout-wrap-11 {
  margin: 0 auto 0 29px;
}

.u-section-3 .u-layout-cell-21 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-27 {
  padding: 4px 0;
}

.u-section-3 .u-image-6 {
  height: 262px;
  width: 304px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-22 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-28 {
  padding: 30px 23px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 0 0 0 13px;
}

.u-section-3 .u-text-12 {
  margin: 20px 7px 0;
}

.u-section-3 .u-layout-wrap-12 {
  margin: 0;
}

.u-section-3 .u-layout-cell-23 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-29 {
  padding: 20px;
}

.u-section-3 .embed-responsive-11 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-layout-cell-24 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-30 {
  padding: 20px;
}

.u-section-3 .embed-responsive-12 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 706px;
}

.u-section-3 .u-container-layout-31 {
  padding: 30px 0;
}

.u-section-3 .u-layout-wrap-13 {
  margin: 0 auto 0 30px;
}

.u-section-3 .u-layout-cell-25 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-32 {
  padding: 0;
}

.u-section-3 .u-image-7 {
  height: 283px;
  width: 313px;
  margin: -7px auto 0 0;
}

.u-section-3 .u-layout-cell-26 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-33 {
  padding: 30px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-14 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-27 {
  min-height: 380px;
}

.u-section-3 .u-container-layout-34 {
  padding: 20px;
}

.u-section-3 .embed-responsive-13 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-layout-cell-28 {
  min-height: 380px;
}

.u-section-3 .u-container-layout-35 {
  padding: 20px;
}

.u-section-3 .embed-responsive-14 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-8 {
  min-height: 716px;
}

.u-section-3 .u-container-layout-36 {
  padding: 30px 0;
}

.u-section-3 .u-layout-wrap-15 {
  margin: 0 auto 0 30px;
}

.u-section-3 .u-layout-cell-29 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-37 {
  padding: 0;
}

.u-section-3 .u-image-8 {
  height: 272px;
  width: 317px;
  margin: -6px auto 0 0;
}

.u-section-3 .u-layout-cell-30 {
  min-height: 306px;
}

.u-section-3 .u-container-layout-38 {
  padding: 30px;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-16 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-wrap-16 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-31 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-39 {
  padding: 20px;
}

.u-section-3 .embed-responsive-15 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-3 .u-layout-cell-32 {
  min-height: 390px;
}

.u-section-3 .u-container-layout-40 {
  padding: 20px;
}

.u-section-3 .embed-responsive-16 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-3 .u-image-1 {
    height: 307px;
    width: 307px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 249px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 249px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-wrap-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 249px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 249px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
  }

  .u-section-3 .u-text-6 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-wrap-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 249px;
  }

  .u-section-3 .u-image-4 {
    height: 248px;
    width: 307px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 249px;
  }

  .u-section-3 .u-text-7 {
    position: relative;
  }

  .u-section-3 .u-text-8 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-wrap-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 249px;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 249px;
  }

  .u-section-3 .u-text-9 {
    position: relative;
  }

  .u-section-3 .u-text-10 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-19 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-20 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-wrap-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-21 {
    min-height: 249px;
  }

  .u-section-3 .u-image-6 {
    height: 261px;
  }

  .u-section-3 .u-layout-cell-22 {
    min-height: 249px;
  }

  .u-section-3 .u-text-11 {
    position: relative;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-12 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-23 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-cell-24 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-wrap-13 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-25 {
    min-height: 249px;
  }

  .u-section-3 .u-image-7 {
    height: 268px;
    width: 296px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-26 {
    min-height: 249px;
  }

  .u-section-3 .u-text-13 {
    position: relative;
  }

  .u-section-3 .u-text-14 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-27 {
    min-height: 313px;
  }

  .u-section-3 .u-layout-cell-28 {
    min-height: 313px;
  }

  .u-section-3 .u-layout-wrap-15 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-29 {
    min-height: 249px;
  }

  .u-section-3 .u-image-8 {
    height: 156px;
    width: 275px;
  }

  .u-section-3 .u-layout-cell-30 {
    min-height: 249px;
  }

  .u-section-3 .u-text-15 {
    position: relative;
  }

  .u-section-3 .u-text-16 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-31 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-cell-32 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    height: 233px;
    width: 233px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 200px;
    width: 233px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 200px;
    width: 233px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    height: 188px;
    width: 233px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-5 {
    height: 200px;
    width: 233px;
  }

  .u-section-3 .u-layout-cell-19 {
    min-height: 253px;
  }

  .u-section-3 .u-container-layout-24 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-20 {
    min-height: 253px;
  }

  .u-section-3 .u-container-layout-25 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-6 {
    height: 200px;
    width: 233px;
  }

  .u-section-3 .u-layout-cell-23 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-29 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-24 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-7 {
    height: 211px;
    width: 233px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-27 {
    min-height: 240px;
  }

  .u-section-3 .u-container-layout-34 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-28 {
    min-height: 240px;
  }

  .u-section-3 .u-container-layout-35 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-8 {
    height: 119px;
    width: 209px;
  }

  .u-section-3 .u-layout-cell-31 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-39 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-32 {
    min-height: 247px;
  }

  .u-section-3 .u-container-layout-40 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-19 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-20 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-21 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-22 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-23 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-24 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-25 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-26 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-33 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-27 {
    min-height: 360px;
  }

  .u-section-3 .u-container-layout-34 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-28 {
    min-height: 360px;
  }

  .u-section-3 .u-container-layout-35 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-29 {
    min-height: auto;
  }

  .u-section-3 .u-image-8 {
    height: 112px;
  }

  .u-section-3 .u-layout-cell-30 {
    min-height: auto;
  }

  .u-section-3 .u-container-layout-38 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-31 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-39 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-32 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-40 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-7 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-19 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-20 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-23 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-24 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-27 {
    min-height: 227px;
  }

  .u-section-3 .u-layout-cell-28 {
    min-height: 227px;
  }

  .u-section-3 .u-layout-cell-31 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-32 {
    min-height: 234px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 666px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 26px 198px 0 223px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 665px;
  margin: 44px 225px 52px auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  height: 178%;
  left: -39%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 680px;
    margin-left: 123px;
    margin-right: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-4 .u-video-1 {
    margin-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}